---
import { getCollection } from "astro:content";

import MainContent from "@/components/main-content.astro";
import PageLayout from "@/layouts/page.astro";

const allSoftware = await getCollection("software");
---

<PageLayout title="Home">
	<MainContent class="grid gap-y-8 px-4 py-8">
		<div class="grid gap-y-4">
			<h1>Software Dashboard</h1>
			<h2>Stuff we are proud of.</h2>
			<div>
				<a href="https://github.com/acdh-oeaw/dhri-software-dashboard">
					https://github.com/acdh-oeaw/dhri-software-dashboard
				</a>
			</div>
		</div>

		<ul class="grid grid-cols-2 gap-8" role="list">
			{
				allSoftware.map((software) => {
					return (
						<li>
							<article class="grid gap-4">
								<h3>{software.data.title}</h3>
								<p>{software.data.summary}</p>
								<a
									class="underline underline-offset-4 hover:no-underline"
									href={software.data.repo}
								>
									Git repository
								</a>
								{software.data.demo ? (
									<a
										class="underline underline-offset-4 hover:no-underline"
										href={software.data.demo}
									>
										Demo
									</a>
								) : (
									<span class="italic text-neutral-500">Demo not available</span>
								)}
							</article>
						</li>
					);
				})
			}
		</ul>
	</MainContent>
</PageLayout>
